/*
  ========================================
  $Main
  ========================================
*/

/* 1...............................Base */
/* 2.............................Layout */
/* 3.........................Components */
/* 4.........................Responsive */



/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */

:root {

/* Colors: default--theme--light */
  --c-brand:        #0065FC;    /* button */
  --c-brand--light: #DEEBFF;    /* button:hover */
  --c-main:         #000;       /* body */
  --b-main:         #fff;       /* body */
  --b-content:      #F2F2F2;    /* sections */
  --c-filters:      #D9D9D9;    /* filters border */

/* Text fluid */

  --f-size-s:       0.875rem; /* details */
  --f-size-p:       1rem;    /* body */
  --f-size-b:       1.125rem;    /* filters */
  --f-size-xb:      1.375rem; /* h1 - h2 */

  --l-height:       1.4;

/* Layout */
  --l--small:       280px;      /* minimun width */
  --l--large:       1440px;     /* max width for large screen */
  --l--item:        280px;      /* minimum width for an item */

/* Gutters */
  --gap--xs:        0.625rem;   /* filters */
  --gap--s:         0.9375rem;  /* footer item - gap mobile */
  --gap:            1.25rem;    /* footer */
  --gap--b:         1.875rem;   /* gap desktop */
  --gap--xb:        2.1875rem;  /* between sections */
  --gap--xxb:       3.125rem;   /* layout margin */

}


/* $Reset & Normalize
   ==================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-main);
  background-color: var(--b-main);  
}  

/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea,
::placeholder {
  font: inherit;
  color: currentColor;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a:link,
a:visited {
  color: var(--c-main);
}

input[type="text"],
input[type="number"],
select,
textarea {
  font-size: var(--f-size-p);
}

ol, ul, menu {
  list-style: none;
}

/* Style broken images */
img,
img::before,
img::after {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  position: relative;
  font: inherit;
  text-align: center;
}

img::before {
  content: "We're sorry, the image below is broken :(";
}

img::after {
  content: "(url: " attr(src) ")";
}


/* $Typography rules
   ==================================== */

/* nav - info - h3 - footer */
body {
  font-family: 'Raleway', sans-serif;
  font-size: var(--f-size-p);
  line-height: var(--l-height);
}

/* h1 - h2 */
.heading-xb  {
  font-size: var(--f-size-xb);
  font-weight: 700;
}

/* filters - Champ recherche / afficher plus */
.heading-b  {
  font-size: var(--f-size-b);
  font-weight: 700;
}

/* h3 */
.heading-p {
  font-size: var(--f-size-p);
  font-weight: 700; 
}

/* details */
.heading-s {
  font-size: var(--f-size-s);
}



/*
  ========================================
  $Layout
  ========================================
*/

/* $Global layout
   ==================================== */

.screen {
  min-width: var(--l--small);
  max-width: var(--l--large);
  margin: 0 auto;
  padding: 0 var(--gap--xxb);
}


/* $Gutters
   ==================================== */

/* Voir quelles gutters peuvent devenir des flex gaps
   Voir évolution en mobile si factorisation possible
 */

.section-search > *,
.section-accomodation,
.section-activities,
.section-footer {
  margin-top: var(--gap--xb);
}

.section-cover,
.accomodation__more-results,
.panel--flex {
  margin-top: var(--gap--b);
}


/* $Flexbox
   ==================================== */

[class*="flex"] {
  display: flex;
  flex-wrap: wrap;
}

  .flex--column {
    flex-direction: column;
  }

  .flex--a-center {
    align-items: center;
  }

  .flex--between {
    justify-content: space-between;
  }


/* $Header
   ==================================== */

  .header__logo {
    padding: var(--gap--b) 0;
  }


/* $Sections
   ==================================== */

.section-accomodation {
  gap: 2.5rem;
}

  .accomodation__results,
  .accomodation__popular,
  .section-footer {
    background-color: var(--b-content);
  }

  .accomodation__results,
  .accomodation__popular {
    border-radius: 0.9375rem;
    padding: var(--gap--b);
  }

  .accomodation__results {
    flex: 2;
  }

  .accomodation__popular {
    flex: 1;
  }  


/* $Footer
   ==================================== */

.section-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap--b);
}

  .footer__content {
    padding: var(--gap);
  }

    .footer__menu li {
      padding-top: var(--gap--s);
    }


/*
  ========================================
  $Components
  ========================================
*/


/* $Navigation
   ==================================== */

.navbar__item:link,
.navbar__item:visited {
  color: var(--c-main);
  border-top: 2px solid transparent;
  padding-top: 0.875rem;
  display: inline-block;
}

.navbar__item:hover,
.navbar__item:active,
.navbar__item--active:link,
 .navbar__item--active:visited {
  color: var(--c-brand);
  border-top: 2px solid var(--c-brand);
}

.navbar__item:last-child {
  margin-left: 4.25rem;
}


/* $Links
   ==================================== */

.cta--branded:hover,
.cta--branded:active,
.cta--branded:focus,
.panel__item:hover .heading-p,
.panel__item:active .heading-p,
.panel__item:focus .heading-p,
.panel__item--auto:hover .heading-p,
.panel__item--auto:active .heading-p,
.panel__item--auto:focus .heading-p {
  color: var(--c-brand);
}


/* $Cover
   ==================================== */

  .section-cover p {
    padding-top: 0.5rem;
  }


/* $Search section
   ==================================== */

.search__form {
  display: inline-flex;
}

.form__icon {
  background-color: var(--b-content);
  padding: var(--gap--s);
  border-radius: var(--gap--s) 0 0 var(--gap--s);
}

.form__placeholder {
  border: 1px solid var(--b-content);
  padding: 0 clamp(0.5rem, 1vmax, 1.5rem);
}

.form__button {
  color: var(--b-main);
  background-color: var(--c-brand);
  padding: var(--gap--s) 1rem;
  border-radius: 0 var(--gap--s) var(--gap--s) 0;
}

  .form__button--mobile {
    display: none !important;
    color: var(--b-main);
  }


/* $Filters
   ==================================== */

.search__filters,
.search__info {
  gap: var(--gap--xs);
}

.panel-filters {
  gap: var(--gap) clamp(var(--gap--xs), 1.3vmax, 1rem);
} 

  .filters__button {
    font-weight: 700; 
    padding: 0.875rem 1.1875rem;
    border: 2px solid var(--c-filters);
    border-radius: 1.5625rem;
  }

  .filters__button:hover,
  .filters__button:focus,
  .filters__button:active,
  .filters__button--active{
    background-color:var(--c-brand--light);
  }

    .filters__button i {
      padding-right: 0.25rem;
    }

    .filters__button i,
    .search__info i,
    .fa-star,
    .fa-chart-line {
      color: var(--c-brand);
    }

    .fa--inactive {
      color: var(--b-content);
    }

    .fa-info {
      font-size: 0.75rem;
      border: 1px solid var(--c-filters);
      border-radius: 50%;
      padding: 0.25rem 0.5rem;
    }


/* $Card
   ==================================== */

.panel {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(var(--gap--s), 1.3vmax, var(--gap--b));
  margin-top: var(--gap--b);
}

  .panel__item--auto {
    flex: 225px;
    height: 100%;   
  }

  .panel__item--activities {
    flex: 1 20%;
  }

  .card {
    display: flex;
    background-color: var(--b-main);
    border-radius: var(--gap);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  }

    .card__details {
      padding: 0.5rem var(--gap--s) var(--gap--s) var(--gap--s);
    }

    .card__details--popular {
      flex: 3;
      padding: var(--gap--xs) 0.3125rem 0.3125rem var(--gap--s);
    }    

    .card__details--activities {
      margin: var(--gap) var(--gap--b);
      height: 2.5rem;
    }

      .card__subhead {
        padding: 0.5rem 0;
      }
        
      .card__icons--popular {
        margin-top: auto;
      }

/* Quelle est la meilleure solution ?
   1. Répéter 2 x la même bordure dans 2 classes diff ?
   2. Attribuer à 2 classes la même bordure ?  
 */

  .card__container-image--accomodation {
    border: 5px solid var(--b-main);
    border-radius: var(--gap) var(--gap) 0 0;
 }

    .card__image--accomodation {
      border-radius: var(--gap) var(--gap) 0 0;
      max-height: 7.75rem;
    }

  .card__container-image--popular {
    border: 5px solid var(--b-main);
    border-radius: var(--gap) 0 0 var(--gap);
    flex: 2;
  }

    .card__image--popular {
      border-radius: var(--gap) 0 0 var(--gap);
      height: 9.125rem;
    }

  .card__container-image--activities {
    border-radius: var(--gap) var(--gap) 0 0;
  }

    .card__image--activities {
      border-radius: var(--gap) var(--gap) 0 0;
      height: 23.75rem;
    }



/*
  ========================================
  $Responsive
  ========================================
*/

/* $Large screen > 1234px
   ==================================== */

@media (width > 1234px) {
  .card__details--activities {
    height: auto;
  }
}


/* $Global < 1024px
   ==================================== */

@media (width < 1024px) {

  .search__filters,
  .section-accomodation {
    flex-direction: column;
  }

  .search__filters {
    align-items: start;
  }
  
}  


/* $Tablet > 768px and < 1024px
   ==================================== */

@media (768px <= width <= 1024px) {

  .panel--popular {
    flex-direction: row;
    margin-top: var(--gap);
  }

    .panel--popular article {
      flex: 1;
    }

      .card__details--popular h3 {
        font-size: var(--f-size-s);
      } 

      .card__image--activities {
        height: 12.5rem;
      }
      .card__details--activities {
        margin: var(--gap);
      }

}


/* $Screen > 768px
   ==================================== */

@media (width > 768px) {

  .section-activities {
    margin: var(--gap--b) auto;
    padding-top: var(--gap--b);
    padding-bottom: var(--gap--b);  
  }  

}


/* $Mobile < 768px
   ==================================== */

@media (width < 768px) {

  .screen--main {
    padding: 0 var(--gap);
  }

  .screen--full,
  .footer__content {
    padding: 0;
  }

    .section-header,
    .accomodation__results,
    .panel-activities {
      flex-direction: column; 
    }

    .section-header,
    .navbar {
      text-align: center;
    }

    .navbar,
    .search__form,
    .form__placeholder {
      width: 100%;
    }

    /* Navigation */
    .navbar__item {
      flex: 1;
    }

    .navbar__item:last-child {
      margin-left: 0;
    }

    .navbar__item:link,
    .navbar__item:visited {
      border-top: none;
      padding-top: 0;
      border-bottom: 2px solid var(--b-content);
      padding-bottom: var(--gap--s);
    }

    .navbar__item:hover,
    .navbar__item:active,
    .navbar__item--active:link,
     .navbar__item--active:visited {
      border-bottom: 2px solid var(--c-brand);
    }

    /* Section search */
    .form__label {
      display: none;
    }

    .form__button {
      border-radius: var(--gap--s);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      position: relative;
      right: var(--gap--xs);
    }

    .form__button--mobile {
      display: block !important;
    }

    .filters__button {
      flex: 1 35%;
    }

    .search__filters {
      gap: var(--gap);
    }

    .search__info {
      flex-wrap: nowrap;
    }  

    /* Section accomodations */
    .section-accomodation,
    .panel,
    .panel--popular {
      margin-top: var(--gap--s);
    }

    .accomodation__results {
      display: flex;
      background-color: var(--b-main);
      order: 2;
      padding: var(--gap);
    }

    .accomodation__results,
    .accomodation__popular {
      border-radius: 0;
    }

    .panel__item--auto {
      flex: 100%;
    }

    /* Section activities */
    .section-activities {
      padding: var(--gap--b);
    }

      .card__image--activities {
        height: 8.8125rem;
      }

      .card__details--activities {
        height: auto;
      }

    /* Section footer */
    .section-footer {
      grid-template-columns: 1fr;
      gap: var(--gap--xxb);
      padding: var(--gap--b);
    }

}