/*
  ========================================
  $Main
  ========================================
*/

/* 1...............................Base */
/* 2..............................Utils */
/* 3.............................Layout */
/* 4.........................Components */
/* 5.........................Responsive */



/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */

:root {

/* Colors: default--theme--light */
  --c-brand:        #0065FC;    /* button */
  --c-brand--light: #DEEBFF;    /* button:hover */
  --c-main:         #000;       /* body */
  --b-main:         #fff;       /* body */
  --b-content:      #F2F2F2;    /* sections */
  --c-filters:      #D9D9D9;    /* filters border */

/* Text */
  --f-size-s:       0.875rem;   /* details */
  --f-size-p:       1rem;       /* body - footer - h3 - nav - info */
  --f-size-b:       1.125rem;   /* filters */
  --f-size-xb:      1.375rem;   /* h1 - h2 */
  --l-height:       1;

/* Layout */
  --l--small:       20rem;      /* minimun width */
  --l--large:       90rem;      /* max width for large screen */
  --l--item:        25rem;      /* minimum width for an item */
  --l--margin:      90%;        /* external margin */

/* Gutters */
  --gap--s:         0.9375rem;  /* footer item - gap mobile */
  --gap:            1.25rem;    /* footer */
  --gap--b:         1.875rem;   /* gap desktop */
  --gap--xb:        2.1875rem;  /* between sections */

}

/* $Reset & Normalize
   ==================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-main);
  background-color: var(--b-main);  
}  

/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea,
::placeholder {
  font: inherit;
  color: currentColor;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a:link,
a:visited {
  color: var(--c-main);
}

/* Set font-size on Form Elements for a Better Mobile Experience
   To avoid mobile browsers from zooming in on HTML form elements
   when a <select> drop-down is tapped, add font-size to the selector
*/
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: var(--f-size-p);
  color: currentColor;
}

ol, ul, menu {
  list-style: none;
}

/* Style broken images */
img,
img::before,
img::after {
  display: block;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  position: relative;
  font: inherit;
  text-align: center;
}

img::before {
  content: "We're sorry, the image below is broken :(";
}

img::after {
  content: "(url: " attr(src) ")";
}



/* $Typography rules
   ==================================== */

/* nav - info - h3 - footer */
body,
.heading-p {
  font-family: 'Raleway', sans-serif;
  font-size: var(--f-size-p);
  line-height: var(--l-height);
}

/* h1 - h2 */
.heading-xb  {
  font-size: var(--f-size-xb);
  font-weight: 700;
}

/* filters - Champ recherche / afficher plus */
.heading-b  {
  font-size: var(--f-size-b);
  font-weight: 700;
}

/* details */
.heading-s {
  font-size: var(--f-size-s);
  font-weight: 400;
}



/*
  ========================================
  $Layout
  ========================================
*/

/* $Global layout
   ==================================== */

.screen {
  width: clamp(var(--l--small), var(--l--margin), var(--l--large));
  margin-left: auto;
  margin-right: auto;
}


/* $Gutters
   ==================================== */

.section-cover,
.section-search > *,
.section-accomodation,
.section-activities,
.section-footer {
  margin-top: var(--gap--xb);
}



/* $Flexbox
   ==================================== */

/* Voir si on remonte flex-wrap ici */
[class*="flex"] {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  justify-content: center;
  align-items: center;
  gap: var(--gap--b);
}

  .flex--auto > * {
    flex: 1 var(--l--item);
  }

  .f__item--1 {flex: 1;}
  .f__item--2 {flex: 2;}
  .f__item--3 {flex: 3;}
  .f__item--4 {flex: 4;}
  .f__item--5 {flex: 5;}



/* $Header
   ==================================== */

.section-header--flex {
  justify-content: space-between;
  align-items: flex-start;
}

  .header__logo {
    padding: var(--gap--b) 0;
  }


/* $Sections
   ==================================== */

.accomodation__results,
.accomodation__well-liked,
.section-footer {
  background-color: var(--b-content);
}


/* $Footer
   ==================================== */




/*
  ========================================
  $Components
  ========================================
*/


/* $Navigation
   ==================================== */

.navbar__item:link,
.navbar__item:visited {
  color: var(--c-main);
  border-top: 2px solid transparent;
  padding-top: 0.875rem;
  display: inline-block;
}

.navbar__item:hover,
.navbar__item:active,
.navbar__item--active:link,
 .navbar__item--active:visited {
  color: var(--c-brand);
  border-top: 2px solid var(--c-brand);
}

.navbar__item:last-child {
  margin-left: 4.25rem;
}


/* $Cover
   ==================================== */

  .section-cover p {
    padding-top: 0.5rem;
  }


/* $Search section
   ==================================== */

.form__icon {
  background-color: var(--b-content);
  padding: var(--gap--s) 1rem;
  border-radius: var(--gap--s) 0 0 var(--gap--s);
}

.form__label {
  border: 1px solid var(--b-content);
  padding: 0 1.5rem;
}

.form__button {
  color: var(--b-main);
  background-color: var(--c-brand);
  padding: var(--gap--s) 1rem;
  border-radius: 0 var(--gap--s) var(--gap--s) 0;
}

  .form__button--mobile {
    display: none !important;
    color: var(--b-main);
  }


/* $Filters
   ==================================== */

.search__filters--flex,
.panel-filters--flex,
.search__info--flex {
  align-items: center;
  gap: 0.625rem;
}

  .filters__button {
    padding: 0.875rem 1.1875rem;
    border: 2px solid var(--c-filters);
    border-radius: 1.5625rem;
    font-weight: 700;
  }

  .filters__button:hover,
  .filters__button:focus,
  .filters__button:active,
  .filters__button--active{
    background-color:var(--c-brand--light);
  }

    .filters__button i {
      padding-right: 0.25rem;
    }

    .filters__button i,
    .search__info i,
    .fa-star {
      color: var(--c-brand);
    }

    .fa--inactive {
      color: var(--b-content);
    }

    .fa-info {
      text-align: center;
      font-size: var(--f-size-s);
      border: 1px solid var(--c-filters);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      padding: 0.25rem;
    }


/* $Card
   ==================================== */

.panel-card {}

  .card--flex {
    flex-direction: column;
    background-color: var(--b-main);
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  }

    .card__image {
      border-radius: 1.25rem 1.25rem 0rem 0rem;
      border: 5px solid var(--b-main);
    }

    .card__details {
      padding: 0.5rem 0.9375rem 0.9375rem 0.9375rem;
    }

      .card__headline,
      .card__subhead--strong {
        font-weight: 700;
      }

      .card__subhead {
        padding: 0.5rem 0;
      }
        
      .card__icons {}


/* to do :
   une seule card avec des variations de vues,
   un seul markup html

hébergements à Marseille
.card--column
.card__figure
.card__details
  .card__headline
  .card__pricing
  .card__rating

populaires

.card__pricing--strong {
  font-weight: 700;
}

  .card__rating
    margin-top: auto;

activités
.card--column
.card__figure
.card__details
  .card__headline

/****** Hebergements And Populaires ***********/
.section-accomodation,
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

  .accomodation__results,
  .accomodation__well-liked,
  .hebergements-and-populaires section {
    background-color: var(--b-content);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  .accomodation__results {
    flex: 2;
  }

  .accomodation__well-liked {
    flex: 1;
  }


.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 1.25rem;
  border: 5px solid var(--b-main);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}




/* $Sitemap
   ==================================== */

.sitemap {}
  .sitemap__headline {}
  .sitemap__link:link {}  /* ou label */
  .sitemap__link:visited {}
  .sitemap__link:hover {}
  .sitemap__link:active {}






/*
  ========================================
  $Responsive
  ========================================
*/

/* $Tablet >= 768px
   ==================================== */

/* 
@media screen and (width >= 48rem) {}
/* @container (min-width: 320px) and (max-width: 640px) {}
@media screen and (48rem <= width <= 64rem) {}
> à tester

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}


/* $Mobile < 768px
   ==================================== */

@media screen and (width < 48rem) {


/* .navbar__item: border-top: 2px solid var(--b-content); */


}

